@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #676E90;
}

nav .navactive {
  position: absolute;
  display: block;
  background: #676E90;
  width: 70%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  position: fixed;
}

nav ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 3em;
  color: white;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

nav ul li a:active {
  color: #428bca;
}

aside {
  background-color: #2F375A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  padding: 1.5em;
}

aside #logo {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

aside #logo a:hover {
  text-decoration: none;
}

aside #menubar {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

aside h1 a:visited {
  color: white;
}

aside h1 a:link {
  color: white;
}

aside h1 a:active {
  color: white;
  text-decoration: none;
}

main #banner {
  padding-top: 7em;
  padding-bottom: 7em;
  background: url("banner_bg.jpg") center no-repeat;
}

main #banner h2 {
  color: white;
  font-weight: bolder;
}

main #banner a {
  margin: .5em;
}

main article {
  margin: 0 5%;
}

main .content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

main .article-title {
  color: #444444;
}

main a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

main .article-content {
  white-space: pre-line;
}

main .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  display: none;
}

main .article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

main .article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

main .article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

main .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

main .account-heading {
  font-size: 2.5rem;
}

main .header {
  margin-left: 5%;
  margin-bottom: .5em;
  font-weight: bold;
}

main .paginate {
  margin-left: 5%;
}

main #logout {
  margin: 2em 1em;
}

@media (min-width: 1085px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
  }
  body aside {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 25% auto;
        grid-template-rows: 25% auto;
  }
  body aside #menubar {
    display: none;
  }
  body aside h1#logo {
    text-align: center;
    padding-top: 2em;
  }
  body aside nav {
    background: none;
  }
  body aside nav ul {
    display: block;
  }
  body aside nav ul li a {
    padding: 2em;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */